@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .gif {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* This property maintains the aspect ratio and covers the entire container */
        z-index: -1;
        opacity: 0.5;
    }

    .raya-clip-path{
        clip-path: polygon(0 3%, 100% 0, 100% 100%, 0% 100%);
    }
}